.foo {
    color: #ff1aff;
    /* modifier */
    color: #dd6f00;
    /* quoted name */
    color: #b5b50d;
    /* unevaluated expression */
    color: #335E11;
    /* language variable and constant */
    color: #d61676;
    /* preprocessor */
    color: #8741A3;
    /* functions */
}